<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="tt">Название</label>
    <input type="text" th:field="*{title}" id="tt">
    <br>
    <label for="fn">Дата выпуска</label>
    <input type="date" th:field="*{releaseDate}" id="fn">
    <br>
    <label for="am">Количество</label>
    <input type="number" th:field="*{amount}" id="am">
    <input type="submit" value="Добавить">
    <div style="color: red" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">error</div>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error</div>
    <div style="color: red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">error</div>

</form>
</body>
</html>