<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<p th:text="'Пользователь: ' + ${person.getFirstName()} + ' (' + ${person.getUsername()} + ')'"></p>

<div th:if="${!books.isEmpty()}">
    <p>Ваши книги:</p>
    <div th:each="book : ${books}">
        <p th:text="${book.getTitle()} + ', ' + ${book.getAuthorsInString()}"></p>
    </div>
</div>
<hr>
<p>Книги в наличии:</p>
<div th:if="${allBooks}">
    <div th:each="i : ${allBooks}">
        <form th:method="POST" th:action="@{/customer/{id}/assign(id=${person.getId()})}">
            <p th:text="${i.getTitle()} + ', ' + ${i.getAuthorsInString()}" style="display: inline"></p>
            <input type="hidden" th:name="id" th:value="${i.getId()}">
            <input type="submit" th:value="Забронировать">
        </form>
    </div>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:method="PATCH" th:action="@{/customer/{id}/changeRole(id=${person.getId()})}">
        <label for="rolePicker">Выберите роль</label>
        <select th:object="${person}" th:field="*{role}" id="rolePicker">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>
        <input type="submit" value="Изменить роль">
    </form>
</div>
<hr>
<div th:if="${#authentication.getName()}==${person.getUsername()} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <form th:method="GET" th:action="@{/customer/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Редактировать">
    </form>
    <form th:action="@{/customer/{id}/delete(id=${person.getId()})}">
        <input type="submit" value="Удалить аккаунт">
        <div th:if="${delError}">
            <p th:text="${delError}"></p>
        </div>
    </form>
</div>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Выйти из аккаунта">
</form>
</body>
</html>